
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Gossip Land</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/gossips">Index des gossips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gossips/new">new gossip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/new">inscrivez_vous</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/sessions/new">connectez_vous</a>
        </li>

          <li class="nav-item">
            <%= link_to 'Se déconnecter', destroy_session_path, data: {method: :delete}%>
          </li>
      </ul>

    </div>
  </nav>

</header>
